[submodule "packages/engine"]
	path = packages/engine
	url = ../forgeax-engine.git
	branch = main
[submodule "forgeax-editor-assets"]
	path = forgeax-editor-assets
	url = ../forgeax-editor-assets.git
	branch = main
[submodule "packages/interface"]
	path = packages/interface
	url = ../forgeax-interface.git
	branch = main
[submodule "packages/platform-io"]
	path = packages/platform-io
	url = ../forgeax-platform-io.git
	branch = main
